Admins
{
        "bin chicken"
        {
                "auth"          "steam"
                "identity"      "STEAM_1:0:7089759"
                "flags"         "z"
        }
        "superted"
        {
                "auth"          "steam"
                "identity"      "STEAM_1:1:17315206"
                "flags"         "z"
        }
        "gsan"
        {
                "auth"          "steam"
                "identity"      "STEAM_1:1:22639796"
                "flags"         "z"
        }
}
